<h3>Edit this page</h3>
<div>
  <span>Name: </span>
  {{input value=model.chef.name}}
  <span>Did they go to culinary school</span>
  {{input type="checkbox" name="culinarySchool" checked=model.chef.wentToCulinarySchool}}
  {{#if model.chef.wentToCulinarySchool}}
  <p>Name of school:</p>
  {{input value=model.chef.culinarySchoolName}}
  {{/if}}
{{#x-select value=model.food.restaurant.content on-change=(action "selectRestaurant") as |xs|}}
  {{#each model.restaurants as |restaurant|}}
      {{#xs.option value=restaurant}}{{restaurant.name}}{{/xs.option}}
  {{/each}}
{{/x-select}}
  <button {{action 'save'}}>Save</button>
</div>
{{outlet}}