<h1>{{model.name}}</h1>

<p>Name: {{model.name}}</p>
{{#if model.chefs}}
<p>Chefs working here:</p>
<ul>
    {{#each model.chefs as |chef|}}
    <li>
        {{chef.name}}
    </li>
    {{/each}}
</ul>
<div>
  <p>
    Max health {{model.maxHealth}}
    </p>
    <p>
    Average health {{model.averageHealth}}
    </p>
</div>
<div>
    <p>Max fame: {{model.maxFame}}</p>
    <p>Average fame: {{model.averageFame}}</p>
</div>

{{else}}
<p>Add some chefs!</p>
{{/if}}
{{#link-to 'restaurants.restaurant.edit' model.id}}
<button>Edit</button>
{{/link-to}}

{{outlet}}