<h3>{{model.name}}</h3>
<p>{{model.description}}</p>
<p>{{model.culinarySchoolName}}</p>
<p>{{model.restaurant.name}}</p>
<button {{action 'destroyItem' model}}>Fire</button>
{{#link-to 'chefs.chef.edit' model.id}}
<button>Edit</button>
{{/link-to}}

{{outlet}}